<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>试听</title>
    <link rel="stylesheet" href="/css/solid.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="dowebok">
        <div id="bg-artwork"></div>
        <div id="bg-layer"></div>
        <div id="player">
            <div id="player-track">
                <div id="album-name"></div>
                <div id="track-name"></div>
                <div id="track-time">
                    <div id="current-time"></div>
                    <div id="track-length"></div>
                </div>
                <div id="s-area">
                    <div id="ins-time"></div>
                    <div id="s-hover"></div>
                    <div id="seek-bar"></div>
                </div>
            </div>
            <div id="player-content">
                <div id="album-art">
                    <img th:src="${music.gspic}" class="active" id="_1">
                    <div id="buffer-box">加载中...</div>
                </div>
                <div id="player-controls">
                    <div class="control">
                        <div class="button" id="play-previous">
                            <i class="fas fa-backward"></i>
                        </div>
                    </div>
                    <div class="control">
                        <div class="button" id="play-pause-button">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                    <div class="control">
                        <div class="button" id="play-next">
                            <i class="fas fa-forward"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lrctext" align="center" style="color: #000000;">
    	<br/>
    	歌词
    </div>
	<script type="text/javascript">
	 var trackNames = [ '[[${music.singer}]]' ];//歌手
	 var albumArtworks = ['_1'];
	 var trackUrl = [ '[[${music.wma}]]' ];//路径
	 var albums = [ '[[${music.mname}]]' ];//歌名
	 var musiclrc =  [(${musiclrc})] ;//歌词
	 console.log(musiclrc);
	 //var lrcval = JSON.parse(musiclrc);
	 
	</script>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/index.js?v=2"></script>
    <script type="text/javascript">
    </script>
</body>

</html>